<style>
   
  

    .container {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    h4 {
        font-size:21px;
        margin-top:0px;
    }

    p {

        font-size:15px;
        margin-bottom:5px;
    }

    .comments-list .comment-body {

        padding-left:51px;
    }
    .comments-list li {
    margin-bottom: 25px;
}
  .fa-search {

        display:none;
    }
    .dropdown-toggle {
        display:none;
    }

    .well {

        padding-bottom:0px;
        margin-bottom:0px;
      
    }


        .well .btn {
            padding-left:17px;
            padding-right:17px;
            margin:0 auto;
            text-align:center;
            width:100%;
        }

    .table {
        margin-bottom:5px;
    }

    table .btn {

        padding-left:7px;
        padding-right:7px;
        width:100%;
        text-align:center;
        border-radius:0px;
        text-transform:capitalize;
        height:50px;
        line-height:50px;
    }
</style>
  <img style="width:100%;" src="img/around.jpg" alt="Alternate Text" />
<div class="well">
 
    <h4>Around Nathdwara</h4>
 
    <table class="table">
        <thead><tr>
            <th>Place</th>

             <th>Distance</th>
        </tr>
            </thead>
        <tbody>
            <tr>
                <td>
                    Shrinath ji temple
                </td>  
                <td>0.3 KM</td>  
            </tr>

             <tr>
                <td>
                   Ganesh Tekri
                </td>  
                <td>2.5 KM</td>  
            </tr>

             <tr>
                <td>
                    Lal Bagh
                </td>  
                <td>0.5 KM</td>  
            </tr>

             <tr>
                <td>
                   Giraj Parikrama
                </td>  
                <td>0.4 KM</td>  
            </tr>

              <tr>
                <td>
                 Vallabh Ashram
                </td>  
                <td>1.5 KM</td>  
            </tr>

             <tr>
                <td>
               Shrinath ji Goushala
                </td>  
                <td>2.5 KM</td>  
            </tr>

             <tr>
                <td>
            Girdhar sagar
                </td>  
                <td>0.8 KM</td>  
            </tr>

            <tr>
                <td>

                 


                </td>


                  <td>

                   

                </td>
                </tr>

        </tbody>
    </table>
 

</div>


<div class="well">
 
    <h4>Visit Places</h4>
 
    <table class="table">
        <thead><tr>
            <th>Place</th>

             <th>Distance</th>
        </tr>
            </thead>
        <tbody>
            <tr>
                <td>
                  Udaipur
                </td>  
                <td>48 KM</td>  
            </tr>

             <tr>
                <td>
                 Ekling Ji
                </td>  
                <td>27 KM</td>  
            </tr>

             <tr>
                <td>
                   Sas bahu mandir (Nagda)
                </td>  
                <td>32 KM</td>  
            </tr>

             <tr>
                <td>
                  Haldighati
                </td>  
                <td>20 KM</td>  
            </tr>

              <tr>
                <td>
               Ghasiyar
                </td>  
                <td>50 KM</td>  
            </tr>

             <tr>
                <td>
            Kankroli
                </td>  
                <td>18 KM</td>  
            </tr>

             <tr>
                <td>
           Charbhuja
                </td>  
                <td>70 KM</td>  
            </tr>

            
             <tr>
                <td>
           Kumbhalgarh
                </td>  
                <td>78 KM</td>  
            </tr>

            
             <tr>
                <td>
        Parsuram mahadev
                </td>  
                <td>95 KM</td>  
            </tr>

            
             <tr>
                <td>
           Ranakpur
                </td>  
                <td>110 KM</td>  
            </tr>

            
             <tr>
                <td>
           Mount Abu
                </td>  
                <td>200 KM</td>  
            </tr>

            
             <tr>
                <td>
           Ambaji
                </td>  
                <td>200 KM</td>  
            </tr>

            
             <tr>
                <td>
           Shani maharaj
                </td>  
                <td>100 KM</td>  
            </tr>

            
             <tr>
                <td>
           Sanvaliya Ji
                </td>  
                <td>110 KM</td>  
            </tr>

             <tr>
                <td>
        Avari mataji
                </td>  
                <td>120 KM</td>  
            </tr>

             <tr>
                <td>
         Chittorgarh
                </td>  
                <td>110 KM</td>  
            </tr>

             <tr>
                <td>
         Ajmer
                </td>  
                <td>235 KM</td>  
            </tr>


               <tr>
                <td>
         Pushkar
                </td>  
                <td>260 KM</td>  
            </tr>

            <tr>
                <td colspan="2">

                  


                </td>


                  
                </tr>

        </tbody>
    </table>
 

</div>

<br />
<br />

<table style="width:100%; bottom:0; position:fixed; left:0; right:0">
    <tr>
        <td style="width:33%">
              <a onclick="window.open('https://www.facebook.com/nathdwaratourism/?fref=ts');" class="btn btn-primary">

                        <i class="fa fa-facebook" ></i> Facebook

                    </a>
        </td>
         <td style="width:34%">
             <a onclick="window.open('http://www.nathdwaramart.com/nathdwaratourism.php');" class="btn btn-danger">

                        <i class="fa fa-globe" ></i> Website

                    </a>
         </td>
         <td style="width:33%">
             <a onclick="window.open('http://www.nathdwaramart.com/news.php');" class="btn btn-success">

                        <i class="fa fa-file-text" ></i> News 

                    </a>
         </td>
    </tr>
</table>




  



 
                       