
<link href="css/app.css" rel="stylesheet" type="text/css">




<div data-ng-if="Isauthorize == 'true'" class="container">
    <h1>Dashboard page</h1>
<hr />
	<div class="row">
		<div class="col-md-4">
			<div class="dash-box dash-box-color-1">
				<div class="dash-box-icon">
			
				</div>
				<div class="dash-box-body">
					<span class="dash-box-count">8,252</span>
					<span class="dash-box-title">Lesson Plan</span>
				</div>
				
				<div class="dash-box-action">
					<button>More Info</button>
				</div>				
			</div>
		</div>
		<div class="col-md-4">
			<div class="dash-box dash-box-color-2">
				<div class="dash-box-icon">
			
				</div>
				<div class="dash-box-body">
					<span class="dash-box-count">100</span>
					<span class="dash-box-title">Learning Resources</span>
				</div>
				
				<div class="dash-box-action">
					<button>More Info</button>
				</div>				
			</div>
		</div>
		<div class="col-md-4">
			<div class="dash-box dash-box-color-3">
				<div class="dash-box-icon">
				
				</div>
				<div class="dash-box-body">
					<span class="dash-box-count">2502</span>
					<span class="dash-box-title">Enrichment Content</span>
				</div>
				
				<div class="dash-box-action">
					<button>More Info</button>
				</div>				
			</div>
		</div>
	</div>

    <p>Some notes goes here Some notes goes here Some notes goes here Some notes goes here Some notes goes here Some notes goes here Some notes goes here Some notes goes here Some notes goes here Some notes goes here Some notes goes here Some notes goes here Some notes goes here Some notes goes here Some notes goes here </p>
</div>


 <div data-ng-if="Isauthorize != 'true'" class="container">
     <div class="well">

         <h1>Sorry</h1>
         <h2>You are not authorize to access this page</h2>

     </div>

     </div>


